@charset "UTF-8";

body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url(imgs/fundo.jpg);
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

.caixa {
    text-align: center;
    padding: 10px;
    height: 100vh;
  }
  
h1 {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
p {
    color: #ffffff;
    margin-top: 5px;
  }
  
input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
label {
    color: white;
  }
  
button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
h2 {
    color: #ffffff;
    font-size: 30px;
  }